{% extends 'base.html' %} {% block content %}

<h1>{{ pet.name }}</h1>

{% if pet.photo_url %}
<img class="img-fluid" src="{{ pet.photo_url }}" />
{% endif %}

<h2>Update</h2>
{{ form.hidden_tag() }}

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.photo_url.label }} {{ form.photo_url(class_="form-control",
    value=pet.return_image_url) }}
  </div>
  <div class="form-group">
    {{ form.notes.label }} {{ form.notes(class_="form-control") }}
  </div>
  <div class="form-group form-check">
    {{ form.available(class_="form-check-input") }} {{
    form.available.label(class='form-check-label') }}
  </div>
  <button class="btn btn-primary" type="submit">Update</button>
  <a class="btn btn-secondary" href="/pet/{{ pet.id }}">Cancel</a>
</form>
<form action="/pet/{{ pet.id }}/delete" method="post">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>

{% endblock %}
